* {
    box-sizing: border-box;
}

/* body {
    width: 980px;
    margin: 0 auto;
}

.wrapper {
    padding-right: 20px;
}

.row {
    clear: both;
}

.col {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 60px;
    background-color: rgb(255, 150, 150);
} */

/* Two column widths (120px) plus one gutter width (20px) */
/* .col.span2 { width: 140px; } */
/* Three column widths (180px) plus two gutter widths (40px) */
/* .col.span3 { width: 220px; } */
/* And so on... */
/* .col.span4 { width: 300px; }
.col.span5 { width: 380px; }
.col.span6 { width: 460px; }
.col.span7 { width: 540px; }
.col.span8 { width: 620px; }
.col.span9 { width: 700px; }
.col.span10 { width: 780px; }
.col.span11 { width: 860px; }
.col.span12 { width: 940px; } */
/* .col.span2 { width: calc((6.25%*2) + 2.08333333%); }
.col.span3 { width: calc((6.25%*3) + (2.08333333%*2)); }
.col.span4 { width: calc((6.25%*4) + (2.08333333%*3)); }
.col.span5 { width: calc((6.25%*5) + (2.08333333%*4)); }
.col.span6 { width: calc((6.25%*6) + (2.08333333%*5)); }
.col.span7 { width: calc((6.25%*7) + (2.08333333%*6)); }
.col.span8 { width: calc((6.25%*8) + (2.08333333%*7)); }
.col.span9 { width: calc((6.25%*9) + (2.08333333%*8)); }
.col.span10 { width: calc((6.25%*10) + (2.08333333%*9)); }
.col.span11 { width: calc((6.25%*11) + (2.08333333%*10)); }
/* .col.span12 { width: calc((6.25%*12) + (2.08333333%*11)); } */  
body {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}
  
.wrapper {
    padding-right: 2.08333333%;
}
  
  
.row {
    display: flex;
}
  
.col {
    margin-left: 2.08333333%;
    margin-bottom: 1em;
    width: 6.25%;
    flex: 1 1 auto;
    background: rgb(255,150,150);
}