/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: rgb(204, 204, 204);
  }
  
  /* Selectors to be matched up with rulesets */
  

  

  
  
  /* Rulesets to be matched up with selectors */
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 1.5em;
  }
  
.card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 30px;
    padding: 10px;
  }
  
.card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 30px;
    padding: 10px;
  }
  
.card article img {
    max-height: 100%;
    float: right;
  }

  h2, p {
      margin: 0;
  }

  article {
      height: 12em;
      background-color: rgba(0, 0, 0, .5);
      color: white;
      display: block;
  }

  h2 {
      font-size: 20px;
      line-height: 30px;
  }

  .card article p {
      padding: 10px;
  }